/* present */
.present {

}

.present__grid {
    margin-left: -15px;
    margin-right: -15px;
}

.present__item {
    margin: 30px 15px 0px 15px;
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}

.present__image {
    display: block;
}

.present__text {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 27px 0px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $doc-bgd-color;
    background-color: rgba(47, 48, 58, 0.8);
}