// .grid--team {
//     margin-top: 50px;
// }

.team__grid {
    margin: -15px;
}

.team__item {
    width: 100%;
    margin: 15px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 30px) /2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * 30px) /4);
    }            

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team__image {
    display: block;

    width: 100%;
    height: auto;
    object-fit: cover;

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
}

.team__box {
    padding: 30px 0 24px 0;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 1200px) {
        padding: 30px 0;
    }
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: $doc-title-color;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__contact-list {
    display: flex;
    justify-content: center;

    margin-top: 16px;
}

.team__contact-item:not(:first-child) {
    margin-left: 10px;
}

.team__contact-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;

    border-radius: 22px;

    color: #AFB1B8;
    background-color: inherit;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:focus,
    &:hover {
        background-color: $button-active-color;
        color: #ffffff;
    }
}

.team__contact-icon {
    width: 20px;
    height: 20px;
    align-self: center;

    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}