// global variables
$doc-bgd-color: #ffffff;
$doc-title-color: #212121;
$doc-text-color: #757575;
$footer-bgd-color: #2f303a;
$hover-color: #2196f3;
$button-color: #F5F4FA;
$button-active-color: #2196f3;